<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="portalRouting">
            <h2><span jhiTranslate="jhipsterSampleApplication20201127App.portalRouting.detail.title">Portal Routing</span> {{ portalRouting.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.portalRouting.mucAppOwner">Muc App Owner</span></dt>
                <dd>
                    <span>{{ portalRouting.mucAppOwner }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.portalRouting.mucAppId">Muc App Id</span></dt>
                <dd>
                    <span>{{ portalRouting.mucAppId }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.portalRouting.mucAppUrl">Muc App Url</span></dt>
                <dd>
                    <span>{{ portalRouting.mucAppUrl }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.portalRouting.mucAppName">Muc App Name</span></dt>
                <dd>
                    <span>{{ portalRouting.mucAppName }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.portalRouting.mucAppNameEn">Muc App Name En</span></dt>
                <dd>
                    <span>{{ portalRouting.mucAppNameEn }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/portal-routing-mp', portalRouting.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
