<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uucUserBaseinfo">
            <h2><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.detail.title">Uuc User Baseinfo</span> {{ uucUserBaseinfo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.jobCode">Job Code</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.jobCode }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.type">Type</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.type }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.fullname">Fullname</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.fullname }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.namePy">Name Py</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.namePy }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.sex">Sex</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.sex }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.birthday">Birthday</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.birthday }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.email">Email</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.email }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.tel">Tel</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.tel }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.telExt">Tel Ext</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.telExt }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.stateCode1">State Code 1</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.stateCode1 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.mobile1">Mobile 1</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.mobile1 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.stateCode2">State Code 2</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.stateCode2 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.mobile2">Mobile 2</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.mobile2 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.stateCode3">State Code 3</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.stateCode3 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.mobile3">Mobile 3</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.mobile3 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.stateCode4">State Code 4</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.stateCode4 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.mobile4">Mobile 4</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.mobile4 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.stateCode5">State Code 5</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.stateCode5 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.mobile5">Mobile 5</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.mobile5 }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.titleDesc">Title Desc</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.titleDesc }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.titleEn">Title En</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.titleEn }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.checkNum">Check Num</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.checkNum }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.disporder">Disporder</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.disporder }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.workPlace">Work Place</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.workPlace }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.userLevel">User Level</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.userLevel }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.hiredate">Hiredate</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.hiredate }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.nickname">Nickname</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.nickname }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.memo">Memo</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.memo }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.isHidden">Is Hidden</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.isHidden }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.aliveFlag">Alive Flag</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.aliveFlag }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.recCreateTime">Rec Create Time</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.recCreateTime }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.recCreator">Rec Creator</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.recCreator }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.recReviseTime">Rec Revise Time</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.recReviseTime }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.recRevisor">Rec Revisor</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.recRevisor }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.isActivated">Is Activated</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.isActivated }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.activationTime">Activation Time</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.activationTime }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.appVersion">App Version</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.appVersion }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.isOnlyAdminTitle">Is Only Admin Title</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.isOnlyAdminTitle }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.jobnumber">Jobnumber</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.jobnumber }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.avatar">Avatar</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.avatar }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.enName">En Name</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.enName }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.enWorkplace">En Workplace</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.enWorkplace }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.enTitleDesc">En Title Desc</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.enTitleDesc }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.onlyCode">Only Code</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.onlyCode }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.hrCardId">Hr Card Id</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.hrCardId }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.employeeType">Employee Type</span></dt>
                <dd>
                    <span>{{ uucUserBaseinfo.employeeType }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.uucUserBaseinfo.collectionFmpMicroApp">Collection Fmp Micro App</span></dt>
                <dd>
                    <span *ngFor="let collectionFmpMicroApp of uucUserBaseinfo.collectionFmpMicroApps; let last = last">
                        <a [routerLink]="['/fmp-micro-app-mp', collectionFmpMicroApp?.id, 'view']">{{ collectionFmpMicroApp.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uuc-user-baseinfo-mp', uucUserBaseinfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
