<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.home.title">Fmp Sub Companies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fmp-sub-company-mp" [routerLink]="['/fmp-sub-company-mp/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.home.createLabel">
            Create a new Fmp Sub Company
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fmpSubCompanies?.length === 0">
        <span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.home.notFound">No fmpSubCompanies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fmpSubCompanies && fmpSubCompanies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.adminGroupId">Admin Group Id</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.ifPublic">If Public</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.styleId">Style Id</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.isDeleted">Is Deleted</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.fmpMicroApp">Fmp Micro App</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.fmpSubCompany.uucDepartmentTree">Uuc Department Tree</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fmpSubCompany of fmpSubCompanies ;trackBy: trackId">
                    <td><a [routerLink]="['/fmp-sub-company-mp', fmpSubCompany.id, 'view']">{{ fmpSubCompany.id }}</a></td>
                    <td>{{ fmpSubCompany.name }}</td>
                    <td>{{ fmpSubCompany.code }}</td>
                    <td>{{ fmpSubCompany.adminGroupId }}</td>
                    <td>{{ fmpSubCompany.ifPublic }}</td>
                    <td>{{ fmpSubCompany.styleId }}</td>
                    <td>{{ fmpSubCompany.isDeleted }}</td>
                    <td>
                        <span *ngFor="let fmpMicroApp of fmpSubCompany.fmpMicroApps; let last = last">
                            <a class="form-control-static" [routerLink]="['/fmp-micro-app-mp', fmpMicroApp?.id, 'view']">{{ fmpMicroApp.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let uucDepartmentTree of fmpSubCompany.uucDepartmentTrees; let last = last">
                            <a class="form-control-static" [routerLink]="['/uuc-department-tree-mp', uucDepartmentTree?.id, 'view']">{{ uucDepartmentTree.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fmp-sub-company-mp', fmpSubCompany.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fmp-sub-company-mp', fmpSubCompany.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fmpSubCompany)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
