<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dd-user-portal-routing-mp-heading" jhiTranslate="jhipsterSampleApplication20201127App.ddUserPortalRouting.home.createOrEditLabel">Create or edit a Dd User Portal Routing</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.ddUserPortalRouting.jobCode" for="field_jobCode">Job Code</label>
                    <input type="text" class="form-control" name="jobCode" id="field_jobCode"
                           formControlName="jobCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.ddUserPortalRouting.mobile" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                           formControlName="mobile"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.ddUserPortalRouting.microappUrl" for="field_microappUrl">Microapp Url</label>
                    <input type="text" class="form-control" name="microappUrl" id="field_microappUrl"
                           formControlName="microappUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.ddUserPortalRouting.injectionFlag" for="field_injectionFlag">Injection Flag</label>
                    <input type="text" class="form-control" name="injectionFlag" id="field_injectionFlag"
                           formControlName="injectionFlag"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.ddUserPortalRouting.injectionApiUri" for="field_injectionApiUri">Injection Api Uri</label>
                    <input type="text" class="form-control" name="injectionApiUri" id="field_injectionApiUri"
                           formControlName="injectionApiUri"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.ddUserPortalRouting.mucAppId" for="field_mucAppId">Muc App Id</label>
                    <input type="text" class="form-control" name="mucAppId" id="field_mucAppId"
                           formControlName="mucAppId"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
