<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fmp-micro-app-type-mp-heading" jhiTranslate="jhipsterSampleApplication20201127App.fmpMicroAppType.home.createOrEditLabel">Create or edit a Fmp Micro App Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.fmpMicroAppType.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.fmpMicroAppType.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.fmpMicroAppType.language" for="field_language">Language</label>
                    <input type="text" class="form-control" name="language" id="field_language"
                           formControlName="language"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.fmpMicroAppType.portalId" for="field_portalId">Portal Id</label>
                    <input type="text" class="form-control" name="portalId" id="field_portalId"
                           formControlName="portalId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.fmpMicroAppType.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                           formControlName="isDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplication20201127App.fmpMicroAppType.fmpSubCompany" for="field_fmpSubCompany">Fmp Sub Company</label>
                    <select class="form-control" id="field_fmpSubCompany" name="fmpSubCompany" formControlName="fmpSubCompany">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fmpSubCompanyOption.id === editForm.get('fmpSubCompany')!.value?.id ? editForm.get('fmpSubCompany')!.value : fmpSubCompanyOption" *ngFor="let fmpSubCompanyOption of fmpsubcompanies; trackBy: trackById">{{ fmpSubCompanyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
