<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplication20201127App.banner.home.title">Banners</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-banner-mp" [routerLink]="['/banner-mp/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplication20201127App.banner.home.createLabel">
            Create a new Banner
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="banners?.length === 0">
        <span jhiTranslate="jhipsterSampleApplication20201127App.banner.home.notFound">No banners found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="banners && banners.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.banner.rank">Rank</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.banner.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.banner.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.banner.pathUrl">Path Url</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.banner.bannerUrl">Banner Url</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.banner.remark">Remark</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplication20201127App.banner.fmpSubCompany">Fmp Sub Company</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let banner of banners ;trackBy: trackId">
                    <td><a [routerLink]="['/banner-mp', banner.id, 'view']">{{ banner.id }}</a></td>
                    <td>{{ banner.rank }}</td>
                    <td jhiTranslate="{{ 'jhipsterSampleApplication20201127App.BannerType.' + banner.type }}">{{ banner.type }}</td>
                    <td jhiTranslate="{{ 'jhipsterSampleApplication20201127App.Status.' + banner.status }}">{{ banner.status }}</td>
                    <td>{{ banner.pathUrl }}</td>
                    <td>{{ banner.bannerUrl }}</td>
                    <td>{{ banner.remark }}</td>
                    <td>
                        <div *ngIf="banner.fmpSubCompany">
                            <a [routerLink]="['/fmp-sub-company-mp', banner.fmpSubCompany?.id, 'view']" >{{ banner.fmpSubCompany?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/banner-mp', banner.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/banner-mp', banner.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(banner)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
