<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="banner">
            <h2><span jhiTranslate="jhipsterSampleApplication20201127App.banner.detail.title">Banner</span> {{ banner.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.banner.rank">Rank</span></dt>
                <dd>
                    <span>{{ banner.rank }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.banner.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jhipsterSampleApplication20201127App.BannerType.' + banner.type }}">{{ banner.type }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.banner.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jhipsterSampleApplication20201127App.Status.' + banner.status }}">{{ banner.status }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.banner.pathUrl">Path Url</span></dt>
                <dd>
                    <span>{{ banner.pathUrl }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.banner.bannerUrl">Banner Url</span></dt>
                <dd>
                    <span>{{ banner.bannerUrl }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.banner.remark">Remark</span></dt>
                <dd>
                    <span>{{ banner.remark }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplication20201127App.banner.fmpSubCompany">Fmp Sub Company</span></dt>
                <dd>
                    <div *ngIf="banner.fmpSubCompany">
                        <a [routerLink]="['/fmp-sub-company-mp', banner.fmpSubCompany?.id, 'view']">{{ banner.fmpSubCompany?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/banner-mp', banner.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
